In [2]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('data/parsed.csv')

In [13]:
df.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...,California
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...,California
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...,California
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...,California
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...,California

In [14]:
df.loc[df.mag > 7.0]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
5263,red,8.4,1000h3p4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.589,18.0,27.0,",us1000h3p4,us1000h4p4,",7.5,mww,...,reviewed,1538128963480,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",480.0,1539123134531,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia

In [17]:
df.describe(percentiles=[0.05,0.95],include='all')

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
count,59,329.000000,9332,9332,6139.000000,329.000000,6164.000000,9332,9331.000000,9331,...,9332,9.332000e+03,9332,9332.000000,9332,9332,9331.000000,9.332000e+03,9332,9332
unique,2,NaN,9332,9332,NaN,NaN,NaN,9332,NaN,10,...,2,NaN,7807,NaN,5,42,NaN,NaN,9332,110
top,green,NaN,20261467,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20276068,",NaN,ml,...,reviewed,NaN,"M 0.4 - 10km NE of Aguanga, CA",NaN,earthquake,",geoserve,origin,phase-data,",NaN,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,Alaska
freq,58,NaN,1,1,NaN,NaN,NaN,1,NaN,6803,...,7797,NaN,55,NaN,9081,5301,NaN,NaN,1,3665
mean,NaN,2.754711,NaN,NaN,0.544925,12.310030,121.506588,NaN,1.497345,NaN,...,NaN,1.538284e+12,NaN,0.006537,NaN,NaN,-451.990140,1.538537e+12,NaN,NaN
std,NaN,1.010637,NaN,NaN,2.214305,48.954944,72.962363,NaN,1.203347,NaN,...,NaN,6.080306e+08,NaN,0.080589,NaN,NaN,231.752571,6.564135e+08,NaN,NaN
min,NaN,0.000000,NaN,NaN,0.000648,0.000000,12.000000,NaN,-1.260000,NaN,...,NaN,1.537229e+12,NaN,0.000000,NaN,NaN,-720.000000,1.537230e+12,NaN,NaN
5%,NaN,2.000000,NaN,NaN,0.005491,1.000000,35.000000,NaN,-0.040000,NaN,...,NaN,1.537344e+12,NaN,0.000000,NaN,NaN,-600.000000,1.537387e+12,NaN,NaN
50%,NaN,2.700000,NaN,NaN,0.059050,2.000000,105.000000,NaN,1.300000,NaN,...,NaN,1.538245e+12,NaN,0.000000,NaN,NaN,-480.000000,1.538621e+12,NaN,NaN
95%,NaN,4.300000,NaN,NaN,2.678900,40.200000,276.000000,NaN,4.400000,NaN,...,NaN,1.539319e+12,NaN,0.000000,NaN,NaN,-60.000000,1.539400e+12,NaN,NaN
max,NaN,8.400000,NaN,NaN,53.737000,580.000000,355.910000,NaN,7.500000,NaN,...,NaN,1.539475e+12,NaN,1.000000,NaN,NaN,720.000000,1.539537e+12,NaN,NaN

In [43]:
df.loc[(df.magType == "mb") & (df.parsed_place.str.contains("Japan")),["parsed_place","magType",'tsunami']]

     parsed_place magType  tsunami
67          Japan      mb        0
713         Japan      mb        0
1124        Japan      mb        0
1309        Japan      mb        0
1398        Japan      mb        0
1422        Japan      mb        0
1435        Japan      mb        0
1492        Japan      mb        0
1563        Japan      mb        0
1732        Japan      mb        0
1875        Japan      mb        0
1898        Japan      mb        0
2053        Japan      mb        0
2191        Japan      mb        0
2564        Japan      mb        0
2576        Japan      mb        0
2688        Japan      mb        0
2824        Japan      mb        0
3072        Japan      mb        0
3632        Japan      mb        0
3771        Japan      mb        0
3851        Japan      mb        0
4082        Japan      mb        0
4192        Japan      mb        0
4257        Japan      mb        0
4846        Japan      mb        0
5655        Japan      mb        0
5915        Japan      mb        0
6769        Japan      mb        0
6961        Japan      mb        0
7001        Japan      mb        0
7066        Japan      mb        0
7145        Japan      mb        0
7261        Japan      mb        0
7381        Japan      mb        0
7408        Japan      mb        0
7652        Japan      mb        0
7696        Japan      mb        0
7807        Japan      mb        0
8071        Japan      mb        0
8311        Japan      mb        0
8324        Japan      mb        0
8327        Japan      mb        0
8376        Japan      mb        0
8431        Japan      mb        0
8550        Japan      mb        0
8555        Japan      mb        0
8687        Japan      mb        0
9070        Japan      mb        0
9198        Japan      mb        0

In [38]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place'],
      dtype='object')

In [53]:
t = len(df.loc[(df.parsed_place.str.contains("Indo")) & (df.tsunami > 0),['alert','mag','tsunami']])
nt = len(df.loc[(df.parsed_place.str.contains("Indo")) & (df.tsunami > 0),['alert','mag','tsunami']])
t/(t+nt)

0.5

In [56]:
df.loc[df.parsed_place.str.contains('Nevada')].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12